<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link href="{% static "blog/css/article-list.css" %}" type="text/css" rel="stylesheet">
</head>
<body>
    {% include "common/header.html" %}
    <div class="article-list">
        {% for article in articles %}
        <div class="article-list-item">
            <div class="container1">
                <div class="article-list-item-title">
                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                </div>
                <div class="article-list-item-time">
                    {{ article.create_time|date:"Y-m-d H:i" }}
                </div>
            </div>
            <div class="article-list-item-content">
                {{ article.preview|safe }}
            </div>
            <div class="container3">
                <div class="views">
                    浏览: {{ article.views_num }}
                </div>
                <div class="comments">
                    评论: {{ article.comments.count }}
                </div>
                {% if is_admin %}
                <div class="edit">
                    <a href="/backend/edit-article/{{ article.id }}">编辑</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="self">
        <div class="self-title">
            本博客介绍
        </div>
        <div class="self-content">
            <p>技术博客, 记录一些编程或其他计算机技术笔记</p>
            <p>本博客网站采用django搭建, 于2016年07月18日上线。</p>
            <p>目前已经运行了<span class="run-day"></span>天</p>
        </div>
    </div>

<script src="{% static "common/js/jquery.min.js" %}"></script>
<script src="{% static "blog/js/article-list.js" %}"></script>
<script>
    var startDay = new Date(2016, 6, 18);
    var today = new Date();
    var runDay = (today - startDay) / (24 * 60 * 60 * 1000);
    $(".run-day").text(parseInt(runDay));
</script>
</body>
</html>