<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if new %}
        <title>写新文章</title>
    {% else %}
        <title>编辑文章</title>
    {% endif %}
    {% load staticfiles %}
    <link href="{% static "backend/css/article-editor.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "lyc-plugins/lyc-img-manager/css/lyc-img-manager.css" %}" type="text/css" rel="stylesheet">
</head>
<body>
    {% include "backend/backend-actions.html" %}
    <div class="new-article-editor">
        <div class="title">
            <input type="text" name="title" placeholder="文章标题" value="{{ article.title }}">
        </div>
        <div class="content" contenteditable="true">
            {{ article.content|safe }}
        </div>
        {% if new %}
            <a class="action-btn" id="new-btn" href="javascript:void(0)">发布</a>
        {% else %}
            <a class="action-btn" id="save-btn" article-id="{{ article.id }}" href="javascript:void(0)">保存</a>
            <a class="action-btn" id="preview-btn" article-id="{{ article.id }}" href="javascript:void(0)">预览</a>
        {% endif %}
    </div>

<script src="{% static "common/js/jquery.min.js"%}"></script>
<script src="{% static "common/js/lycpost.js"%}"></script>
<script src="{% static "lyc-plugins/lyc-img-manager/js/lyc-img-manager.js"%}"></script>
<script src="{% static "lyc-plugins/lyc-editor/js/lyc-editor.js"%}"></script>
<script src="{% static "backend/js/article-editor.js"%}"></script>
</body>
</html>