<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "backend/css/backend-login.css" %}">
    <title>登录</title>
</head>
<body>
    <div class="error">
    {{ error }}
    </div>
    <form method="post" action="/backend/login" class="login-window">
        <div class="header"><h3>后台管理登录</h3></div>
        <div class="username">
            账号: <input name="username" id="username">
        </div>
        <div class="password">
            密码: <input name="password" id="password" type="password">
        </div>
        <button type="submit" class="ok-btn">提交</button>
    </form>
</body>
</html>