
.new-article-editor{
    width: 70%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.new-article-editor .title{
    width: 600px;
}
.new-article-editor .title input, .new-article-editor .content{

    border: 1px solid #cccccc;
}
.new-article-editor .title input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding: 0;
    outline: none;
}
.new-article-editor .content{
    margin-top: 0.5rem;
    width: 600px;
    /*border: none;*/
    border-radius: 2px;
    outline: none;
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.new-article-editor .action-btn
{
    padding: 0.5rem 1rem;
    background: #73edf5;
    width: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    float: left;
    margin-right: auto;
    text-decoration: none;
    color: white;
}

.new-article-editor #preview-btn{
    float: left;
    margin-left: 0.5rem;
}

.new-article-editor .content img{
    padding: 0.2rem;
}